# URL da sua base dadados. 
# Pode usar qualquer banco SQL, desde que informe o mesmo corretamente no schema do prisma. 
# Para mais detalhes, acesse: https://www.prisma.io/docs/concepts/database-connectors#overview 

DATABASE_URL="file:./database/dev.db"

# UPSTASH ENV
UPSTASH_KAFKA_CLIENT_ID=""
UPSTASH_KAFKA_TOPIC=""
UPSTASH_KAFKA_BLOCKERS=""
UPSTASH_KAFKA_USERNAME=""
UPSTASH_KAFKA_PASSWORD=""


# This silences the WARN message
KAFKAJS_NO_PARTITIONER_WARNING=1
# WARN [ServerKafka] WARN [undefined] KafkaJS v2.0.0 switched default partitioner. To retain the same partitioning behavior as in previous versions, create the producer with the option "createPartitioner: Partitioners.LegacyPartitioner". See the migration guide at https://kafka.js.org/docs/migration-guide-v2.0.0#producer-new-default-partitioner for details. Silence this warning by setting the environment variable "KAFKAJS_NO_PARTITIONER_WARNING=1" {"timestamp":"2022-12-17T17:23:40.563Z","logger":"kafkajs"}
# More info: https://kafka.js.org/docs/producing
